{% extends "base.html" %}
{% load static %}
{% block content %}
	<h1 style = "text-align: center; font-family: Roboto">Course Schedule</h1>
	<div class = "container" style = "margin-top:120px">
	<div class="row">
    <div class="col-sm-6">
		<form action="{% url 'Schedule:sched_edit_save' id=item.pk%}" method="POST">
			{% csrf_token %}
			<div class = "form-group">
				<label for = "title">{{ form.title.label_tag }}</label>
				{{ form.title }}
			</div>
			<div class = "form-group">
				<label for = "lecturer">{{ form.lecturer.label_tag }}</label>
				{{ form.lecturer }}
			</div>
			<div class = "form-group">
				<label for = "location">{{ form.location.label_tag }}</label>
				{{ form.location }}
			</div>
			<div class = "form-group">
				<label for = "category">{{ form.category.label_tag }}</label>
				{{ form.category }}
			</div>
			<div class="form-group">
				<label for = "description">{{ form.description.label_tag }}</label>
				{{ form.description }}
			</div>
			<a href="{% url 'Schedule:sched_add' %}"><button type = "submit" class = "btn btn-primary">Save</button></a>
			<a href="{% url 'Schedule:sched_view_all' %}"><button type="button" class="btn btn-primary"> View </button>
		</form>
    </div>
	</div>
	</div>
{% endblock %}
